name: Create release PR
on:
  workflow_dispatch:
    inputs:
      version:
          description: "New version to be released (without prefix 'v')"
          required: true
jobs:
  Create-Release-PR:
    runs-on: ubuntu-latest
    if: startsWith(github.event.inputs.version, 'v') == false
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Configure git and gh CLI
        uses: git-actions/set-user@v1
      - name: Set current date
        id: current_date
        run: |
          echo "::set-output name=date::$(date +'%Y-%m-%d')"
      - name: Create release PR
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git switch -c "release-v${{ github.event.inputs.version }}"
          (rm -f info.json && jq -M '.version|="${{ github.event.inputs.version }}"' > info.json) < info.json
          (rm -f changelog.txt && sed -e '1i\
          ---------------------------------------------------------------------------------------------------\
          Version: ${{ github.event.inputs.version }}\
          Date: ${{ steps.current_date.outputs.date }}\
            Changes:\
              - \
            Bugfix:\
              - ' | sed -e 's/          //' > changelog.txt) < changelog.txt
          git add info.json changelog.txt
          git commit -m 'Bump to v${{ github.event.inputs.version }}'
          git push origin "release-v${{ github.event.inputs.version }}"
          gh pr create --draft --title "Release v${{ github.event.inputs.version }}" --body "This PR is automatically created by the GitHub Action workflow ${{ github.workflow }}"
